<div class="user-dashboard-page">
  <h1>Dashboard</h1>
  <div class="wrapper-all-content">
    <div class="big-left-group">
      <!-- <app-dash-statistics></app-dash-statistics> -->
      <!-- end /general-statistics -->
      <div class="graph-statistics flex-edge">
        <div class="chart-one white-box">
          <!-- <app-dash-box-chart [title]="'Overall'" [data]="overall"></app-dash-box-chart> -->
        </div>
      </div>
      <!-- end /graph-statistics -->
    </div>
    <!-- end /big-left-group -->
    <div class="big-right-group">
      <div class="report-statistics">
        <!-- <app-customer-report-status></app-customer-report-status> -->
      </div>
      <!-- end /report-statistics -->
    </div>
    <!-- end /big-right-group -->
  </div>
  <!-- end /wrapper-all-content -->
</div>
<!-- end /user-dashboard-page -->
