/* --Font-- */

$font-family: "Source Sans Pro", sans-serif;

/* --Colors-- */

$black-color: #000;
$white-color: #fff;
$iron-color: #cecfd2;
$wild-sand-color: #f5f5f5;
$athens-gray-color: #f2f4f7;
$whisper-color: #f5f6fa;
$alto-color: #dfdfdf;
$deep-cerulean-color: #027fa8;
$jade-color: #00a665;
$mountain-meadow-color: #00bb7a;
$turbo-color: #ffed00;
$orange-peel-color: #ff9900;
$lightning-yellow-color: #ffc412;
$midnight-color: #001429;
$dove-gray-color: #707070;
$amaranth-color: #d71d4f;
$portafino-color: #fff9b1;
$altolie-color: #d7d7d7;
$boulder-color: #787878;
$yellow-color: #ffff00;
$bali-hai-color: #8ca0b3;
$silver-chalice-color: #a4a4a4;
$mercury-color: #e9e9e9;
$gray-color: #8f8f8f;
$he-blue-color: #323754;

/* --Classes-- */

.clear,
.clear:before,
.clear:after {
  clear: both;
}
.flex-x {
  display: flex;
  justify-content: center;
}
.flex-y {
  display: flex;
  align-items: center;
}
.flex-both {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-edge {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.white-box {
  box-shadow: 0px 3px 6px 0px rgba(87, 87, 87, 0.16);
  background: $white-color;
  border-radius: 4px;
}

/* --Custom Libraries-- */
// Slick Carousel
.slick-slider {
  height: 100%;
  margin: 0;
  .slick-list {
    height: 100%;
    .slick-track {
      height: 100%;
      .slick-slide {
        > div {
          height: 100%;
        }
        .slide {
          height: 100%;
        }
      }
    }
  }
  .slick-dots {
    bottom: 200px;
    z-index: 10;
    li {
      width: 8px;
      height: 8px;
      background: #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      margin: 0 15px 0 0;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
      opacity: 0.1;
      &:last-child {
        margin: 0;
      }
      &.slick-active {
        width: 12px;
        height: 12px;
        opacity: 1;
        button {
          width: 12px;
          height: 12px;
          &:before {
            width: 12px;
            height: 12px;
          }
        }
      }
      button {
        width: 8px;
        height: 8px;
        padding: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        &:before {
          content: "";
          width: 8px;
          height: 8px;
          color: #fff;
          text-align: center;
          opacity: 1;
        }
      }
    }
  }
}

// Tooltip Chart
.d3-tip {
  .box-value {
    min-width: 50px;
    height: 20px;
    background-color: darkgray;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(87, 87, 87, 0.16);
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: darkgray transparent transparent transparent;
      position: absolute;
      bottom: -5px;
      left: calc(50% - 5px);
    }
    .value {
      display: block;
      color: #fff;
      font-size: 12px;
    }
  }
}

// Modal
.modal.show {
  .modal-dialog {
    max-width: max-content;
    .modal-content {
      width: auto;
      background-color: transparent;
      border: none;
      border-radius: none;
      outline: none;
    }
  }
}
